# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
artifacts/
TestResults/

# IDE/cache files
.vs/
.idea/
*.DotSettings.user

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
**/packages/*
!**/packages/build/

# Logs and OS files
*.log
.DS_Store
